.cursor-pointer {
  cursor: pointer;
}

.nav-link {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.hr-color {
   color: "#7d89e4"
}

/* Add this to your global CSS file or in a <style> tag in your component */
.navbar-nav .dropdown-menu {
  max-width: 200px; 
  white-space: nowrap;
  overflow: hidden;
}
